body {
    background: green;
}


.-top-6 {
    top: -6rem;
}

.h5 {
    flex: auto;
    text-align: center;
    padding: 0;
    border: 0;
}

h2 {
    text-align: center;
    color: ivory;
}

.enterNumber {
    display: block;
    margin: 3px 3px;
    text-align: center;
    border-bottom: 3px;
}

.Playgame {
    color: #FFF;
    background-color: #232323;
    margin-bottom: 20px;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18
}

.ModPlaygame {
    color: #FFF;
    background-color: #FFF;
    margin-bottom: 20px;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

.button {
    display: flex;
    justify-content: center;
}

.click {
    text-align: center;
    text-emphasis-color: white;
}

.recomecar {
    text-align: center;
}

.Sbutton {
    color: #FFF;
    background-color: #232323;
    margin-bottom: 20px;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18
}

#inputNumber {
    box-sizing: 4px;
    height: 25px;
    width: 30px;
}

#inputNumber {
    box-sizing: content-box;
    border: solid 35px;
    width: 35px;
    background-color: wheat;
    border: 10px;
    text-align: center;
}

.Guess {
    box-sizing: content-box;
    border: solid 35px;
    width: 35px;
    background-color: wheat;
    border: 1px;
    text-align: center;
}

.tenta1 {
    box-sizing: content-box;
    border: solid 35px;
    width: 35px;
    background-color: wheat;
    border: 1px;
    text-align: center;
}

.EnterCancel {
    display: flex;
    justify-content: center;
}



.pargraph {
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    border: 4px;
    margin: 0 auto;
    width: 400px;
    height: 50px;
    background-color: black;

}

.tente {
    display: flex;
    justify-content: center;
    background-color: white;
    text-align: center;
    margin: 0 auto;
    width: 30%;
}

.finalgame {
    display: flex;
    justify-content: center;
    background-color: white;
    text-align: center;
    margin: 0 auto;
}

.NumeroA {
    margin-bottom: -10px;
}

.cancel {
    margin: 3px;
}

.enter {
    margin: 3px;
}

.enter1 {
    margin: 3px;
    display: none;
}

.enter2 {
    margin: 3px;
    display: none;
}

.enter3 {
    margin: 3px;
    display: none;
}

.Number {
    box-sizing: 5px;
}

h1 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Source Sans Pro";
    font-size: 2em;
    font-weight: 50%;
    -webkit-user-select: none;
    user-select: none;
}

.lastPara {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.lastPara2 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.parabens {
    display: flex;
    justify-content: center;
    background-color: white;
    text-align: center;
    margin: 0 auto;
    width: 30%;
}

.finalgame {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: black;
    margin: 0 auto;
    width: 30%;
}

.preto {
    text-emphasis-color: white;
}